@charset "UTF-8";
/* CSS Document */

/*Navigation*/

.header{
	display:flex;
	justify-content: space-between;
}
.logo{
	
}
.logo img{
	width: 25%;
	height: auto;
	margin: 1vh 2vh;
}
.subtitile{
	color: #7d7d7d;
}
.nav{
	list-style: none;
	text-align: center;
	margin: 2vh 3vh 0;
}
ul.nav{

}
.nav li{
	text-align: center;
	padding: 0;
	display:inline-block;
	width: 140px;
}
.nav li a{
	text-decoration: none;
    color: #f29c9f;
	font-weight: 300;
	opacity: 0.8;
	font-size:1.4rem;
	padding-bottom: 3px;
	
}
.header .nav a {
  position: relative;
}
.header .nav a::after {
  position: absolute;
  color: #f29c9f;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 0%;
  height: 1px;
  background:#f29c9f;;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.header .nav a:hover::after {
  width: 100%;
}

/*/Navigation*/


/* Footer */

.footer{
	background-color:#f29c9f;
	height: 5vh;
	display: flex;
	padding: 5vh;
	justify-content: space-between;
	opacity: 0.8;
	
	
}
.footer img{
	width: 35%;
}
.footer_icon{
	margin: 0 2vh;
	color: #f29c9f;
   	border-radius: 50%;
    transition: .4s;
    border-color: #fff;
    font-size: 1.8rem;
    background-color: rgba(255,255,255,0.8);
    height: 40px;
    line-height: 40px;
	width: 40px;
	
}

/* /Footer */