@charset "UTF-8";
/* CSS Document */


/*Navigation*/
.hamburger{
	display: none;
}

.header{
	align-items: center;
	width: 100%;
	position: fixed;
	display:flex;
	justify-content: space-between;
	background-color:rgba(255,255,255,0.8);
}
.logo{
	
}
.logo img{
	width: 23%;
	height: auto;
	margin: 0 2vh;
}
.subtitile{
	color: #7d7d7d;
}
.globalMenuSp{
	width: 70%;
}
.nav{
	list-style: none;
	text-align: right;
	margin: 0 4vh;
}

.nav li{
	text-align: center;
	padding: 0;
	display:inline-block;
	width: 140px;
}
.nav li:nth-child(5){
	width: 50px
}
.nav li:nth-child(6){
	width: 50px
}

.nav li a{
	text-decoration: none;
    color: #f29c9f;
	font-weight: 300;
	opacity: 0.8;
	font-size:1.4rem;
    padding-bottom: 5px;
	
}
.header .nav a {
  position: relative;
}
.header .nav a::after {
  position: absolute;
  color: #f29c9f;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 0%;
  height: 1px;
  background:#f29c9f;;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.header .nav a:hover::after {
  width: 100%;
}

/*/Navigation*/


/* Footer */

.footer{
	align-items: center;
	background-color:#f29c9f;
	height: 5vh;
	display: flex;
	padding: 5vh;
	justify-content: space-between;
	opacity: 0.8;
	
	
}
.footer img{
	width: 35%;
}
.footer_sns a{
	margin: 0 2vh;
}
.footer_icon{
	text-align: center;
	color: #f29c9f;
   	border-radius: 50%;
    transition: .4s;
    border-color: #fff;
    font-size: 1.8rem;
    background-color: rgba(255,255,255,0.8);
    height: 40px;
    line-height: 40px;
	width: 40px;
}
/* /Footer */


@media screen and (max-width: 480px) {
 	/*　ハンバーガーボタン　*/
	.hamburger {
	  display : block;
	  position: fixed;
	  z-index : 3;
	  right : 13px;
	  top   : 12px;
	  width : 42px;
	  height: 42px;
	  cursor: pointer;
	  text-align: center;
	}
	.hamburger span {
	  display : block;
	  position: absolute;
	  width   : 30px;
	  height: 1px;
	  left    : 6px;
	  background :#f29c9f;
	  -webkit-transition: 0.3s ease-in-out;
	  -moz-transition   : 0.3s ease-in-out;
	  transition        : 0.3s ease-in-out;
	}
	.hamburger span:nth-child(1) {
		top: 10px;
	}
	.hamburger span:nth-child(2) {
		top: 20px;
	}
	.hamburger span:nth-child(3) {
		top: 30px;
	}

	/* ナビ開いてる時のボタン */
	.hamburger.active span:nth-child(1) {
		top : 16px;
		left: 6px;
		background :#fff;
		-webkit-transform: rotate(-45deg);
		-moz-transform   : rotate(-45deg);
		transform        : rotate(-45deg);
	}

	.hamburger.active span:nth-child(2),
	.hamburger.active span:nth-child(3) {
		top: 16px;
		background :#fff;
		-webkit-transform: rotate(45deg);
		-moz-transform   : rotate(45deg);
		transform        : rotate(45deg);
	}

	nav.globalMenuSp {
		position: fixed;
		z-index : 2;
		top  : 0;
		left : 0;
		color: #fff;
		background: rgba(242,156,159,0.9);
		text-align: center;
		width: 100%;
		opacity: 0;
		transition: opacity .6s ease, visibility .6s ease;
	}

	nav.globalMenuSp ul {
    	margin: 10vh auto;
		padding: 0;
		width: 100%;
	}

	nav.globalMenuSp ul li {
		font-size: 2rem;
		list-style-type: none;
		padding: 0;
		width: 100%;
		transition: .4s all;

	}
	nav.globalMenuSp ul li:last-child {
		padding-bottom: 0;
	}
	nav.globalMenuSp ul li:hover{
		background :#ddd;
	}

	nav.globalMenuSp ul li a {
		display: block;
		color: #fff;
		text-decoration :none;
		padding: 2vh 0;	
	}

	/* このクラスを、jQueryで付与・削除する */
	nav.globalMenuSp.active {
		opacity: 100;
	}
	.header{
		background-color: none;
		background-color: rgba(51,153,255,0);
		position: static;
	}
	.nav{
		text-align: center;
	}
	.header .nav a {
		font-size: 1.8rem;
		}
	.footer_sns{
		display: inherit;
	}
	.footer img {
    	width: 40%;
	}
	.nav li:nth-child(5):nth-child(6) {
    	margin: 3vh 3vh 0;
}
	nav.globalMenuSp ul li a:nth-child(5):nth-child(6){
		    padding: 4vh;
	}
	.nav li:nth-child(5){
		width: 70px
	}
	.nav li:nth-child(6){
		width: 70px
	}
	
	.footer {
		padding: 3vh 1vh;

		}	
	.footer_sns a{
		margin: 0 1vh;
}

}