@charset "UTF-8";
/* CSS Document */


html{
	font-size:62.5%;
}
body{
	color:#595757;
	font-size:1.6rem;
    font-family: source-han-serif-japanese, serif;
	font-style: normal;
	overflow-x: hidden;
	letter-spacing: 0.03em;
}
.section_2_main{
	padding: 15vh 0 0;
}
.ccbg img{
	 width: 100%;
}

.title{
	text-align: center;
}
.title img{
	width: 30%;
}
.subtitile{
	text-align: center;
    margin-bottom: 7vh;
}
.content{
	width: 70%;
	margin: 0 auto 15vh;
	font-size: 1.5rem;
    line-height: 1.7;
}
.main{
	display: flex;
    justify-content: space-around;
}
.course{
	width: 35%;
	text-align: center;
	background-color: #fff6f6;
    padding: 3%;
}
.course_type img{
	width: 100%;
}
.course_type{
	width: 90%;
    margin: 5vh auto;
}
.course_type img:nth-child(2){
	display: none;
}
.course_2 th{
	background-color: #f5d1c3;
}
.course_2 table th:after {
	border-left: 10px solid #f5d1c3;
	}
.course_2 h3{
	color:#f5d1c3;
}
.course_2 .apply a{
	color: #f5d1c3;
}
.course_2 .apply a:hover{
	background-color:#f5d1c3;
}

.course:nth-child(2){
    background-color: rgba(245,209,195,0.2);
}
.course p{
	font-size: 7rem;
    font-family: 'Arapey', serif;
    color: #feb6b9;
    font-style: italic;
}
.course_2 p{
	color:#f5d1c3;
}
.ccpic img{
	    width: 35%;
    margin: 4vh;
}
h1{
	font-size: 2rem;
    margin-bottom: 2vh;
}
h2{
	font-size: 1.2rem;
	margin-bottom: 4vh;
}
h3{
	color:#feb6b9;
	font-size: 1.3rem;
	margin: 3vh 0 1vh;
}
ul.flow{
	padding: 0 15%;
    text-align: left;
}
.flow li{
	font-size: 1.3rem;
	line-height: 1.8;
}
.time li{
	line-height: 1.8;
	font-size: 1.3rem;
}
ul.time{
	margin-bottom: 8vh;
}
.apply{
}

.apply a{
	text-decoration: none;
	color:#feb6b9;
	background-color: #fff;
	padding: 3% 5%;
	border-radius: 30px;
	transition: all 0.2s;
	cursor: pointer;
}
.apply a:hover{
	background-color:#feb6b9;
	color: #fff;
}
table{
    min-width: 90%;
	margin: 4vh auto;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 1px #fff;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  font-size: 1.3rem;	
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #feb6b9;
  color: white;
  text-align: center;
  padding: 10px;
}

table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #feb6b9;;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #fff;
  padding: 10px 0;
}

.flow_{
	background-size:100% 100%;
	background-color:rgba(255,246,246,0.5);
	margin: 15vh 0;
}
.ccflow_titile{
	text-align: center;
	color: #7d7d7d;
}
.ccflow_titile_eng{
	text-align: center;
    padding: 10vh 0 1vh;
}
.ccflow_titile_eng img{
	width: 30%;
	margin-bottom: 1vh;
}
.step{
    text-align: center;
	
}
.step img{
	width: 20%;
	margin: 10vh 5vh;	
}
.online{
	width: 55%;
	margin-bottom: 2vh;
}
.zoom{
	align-items: center;
	display: flex;
    justify-content: center;
	margin-bottom: 15vh;
}
.zoom img{
	width: 100%;
}
.zoom_pic{
	width: 30%;
	margin-right: 5%;
}
.zoom_content{
	width: 45%;
}
.zoom_content p:nth-child(1){
	font-size: 1.4rem;
    line-height: 1.7;
}
.zoom_content p{
	    font-weight: 100;
}
.app img{
	margin: 0 4vh;
	width: 30%;
}
.app{
	text-align: center;
	margin: 3vh 0 0;
}
.app a{
	text-decoration: none;
}
span{
	font-size:4rem;
	font-family: 'Arapey', serif;
	font-style: italic;
	
}

@media screen and (max-width: 480px) {
	.section_2_main {
		padding: 0;

	}
	.title {
		width: 80%;
		text-align: center;
    	margin: 10vh auto 0;
}
	
	.title img {
		width: 100%;
	}
	.content {
    	width: 80%;
		margin: 0 auto 10vh;
	}
	.main{
		display: block;
	}
	.course {
    	width: 80%;
		margin: 0 auto 10vh;
	}
	.course_type img:nth-child(1){
		display: none;
	}
	.course_type img:nth-child(2){
		display:block;
	}
	.course_type{
		width:100%;
	}

	ul.flow {
		padding: 0 5%;
	}
	.ccflow_titile_eng {
		width: 80%;
		margin: 0 auto;
	}
	.ccflow_titile_eng img {
		width: 100%;
	}
	.step img {
		width: 80%;
		margin: 5vh 0;
	}

	.apply {
    	margin: 5vh 0;
	}
	.apply a{
		padding: 6% 10%;
	}
	.zoom{
		display: block;
				margin: 0 auto;
	}
	
	.zoom_content {
    	margin: 4vh 0 10vh;
		width: 100%;

	}	
	.zoom_content p{
		width: 80%;
		margin: 0 auto;
    	font-weight: 100;
	}
	.online {
    	width: 80%;
    	margin: 4vh auto;
	}
	.zoom_pic{
		width: 80%;
		margin: 0 auto
	}
	.app {
    	margin: 5vh auto;
		text-align: center;
		}
	.app img {
		margin: 0 2vh;
		width: 40%;
	}
	






}